@page "{id:long}"
@model ECommerce.Ui.Areas.Item.Pages.DetailsModel
@{
    ViewData["Title"] = "Product Details";
}

<form method="post">
    <input hidden asp-for="@Model.CartItem.ProductId" />
    <div class="container w-75">
        <div class="card">
            <div class="card-header bg-light text-light ml-0 row container">
                <div class="col-12 col-md-6">
                    <h1 class="text-primary">@Model.CartItem.Product.Name</h1>
                </div>
                <div class="col-12 col-md-6 text-md-right pt-4">
                    <span class="badge badge-warning pt-2" style="height:30px;">@Model.CartItem.Product.Category.Name</span>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-4 col-lg-8">
                            <div class="row pl-2">
                                <h5 class="pb-2">RM @Model.CartItem.Product.Price</h5>
                            </div>
                            <div class="row pl-2">
                                <label asp-for="CartItem.Product.Description"></label>:
                            </div>
                            <div class="row text-secondary pl-2" style="white-space:pre-line; text-align: justify; text-justify: inter-word;">
                                <p>@Html.Raw(Model.CartItem.Product.Description)</p>
                            </div>
                            <div class="row pl-2 mt-3">
                                <div class="col-3 align-self-center">Quantity: </div>
                                <div class="col">
                                    <input min="1" max="999" class="form-control" asp-for="CartItem.Quantity" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1 text-center">
                            <img src="@Model.CartItem.Product.ImageUrl" class="rounded w-100" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        @if (Model.CartItem.Product.IsAvailable)
                        {
                            <button asp-page-handler="AddToCart" type="submit" class="btn btn-primary btn-square btn-lg form-control" style="height:50px;">
                                Add to Cart
                            </button>
                        }
                        else
                        {
                            <a class="btn btn-primary btn-square btn-lg text-white form-control disabled" style="height:50px;">
                                Unavailable
                            </a>
                        }
                    </div>
                    <div class="col-12 col-md-6 pb-1">
                        <a asp-area="" asp-page="/Index" class="btn btn-danger form-control btn-square btn-lg" style="height:50px;">
                            Back to Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

